<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1056553279825-av73c0moa8dkh3hjqu4sr52av9ljl7hs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1056553279825-av73c0moa8dkh3hjqu4sr52av9ljl7hs</string>
	<key>API_KEY</key>
	<string>AIzaSyCq_lz0oSA9jH6L8JCoTkLCJ5-J1_XyeD0</string>
	<key>GCM_SENDER_ID</key>
	<string>1056553279825</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.abs.cardcustomer</string>
	<key>PROJECT_ID</key>
	<string>cardsm-a2f42</string>
	<key>STORAGE_BUCKET</key>
	<string>cardsm-a2f42.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1056553279825:ios:79b61b1c88dd8aee053370</string>
</dict>
</plist>